h1 {
    color: blueviolet;
}
body {
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
}

.listP {
    display: inline;
}

* { 
    padding: 0px;
    font-family: 'Source Sans 3', sans-serif;
}


* l { 
    display: block;
}

.hud * {
    color: white;
    margin: 40px, auto, 0px, auto;
    font-size: 30px;
}

.hud {

    text-align: center;
    margin: 40px, auto, 0px, auto;

}

.hud img {
    width: 400px;
}
 
.hud h1 {
    font-size: 50px;
}