body {
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
}

* { 
    color: white;
    font-size: 30px;
    padding: 0px;
    font-family: 'Source Sans 3', sans-serif;
}


#list * {
    display: block;
}

#listP {
    display: inline;
}

.hud * {
    margin: 40px, auto, 0px, auto;
}

.hud {

    text-align: center;
    margin: 40px, auto, 0px, auto;

}

.hud img {
    width: 400px;
}
 
.hud h1 {
    font-size: 50px;
}